body {
    display: grid;
    grid-template-rows: 1fr 15fr 2fr;
    height: 100vh;
}

#time-bar {
    display: grid;
    background-color: darkgreen;
    align-content: center;
    justify-content: center;
}



#container {
    background-color: rgb(174, 231, 76);
}

#footer {
    background-color: darkgreen;
}

.frog {
    position: absolute;
    
}